{% extends 'animes/base.html' %}
{% block banner %}main-banner bg bg1 {% endblock banner %}
{% block banner_info %}
    <div class="banner-info">
        <p class="editContent">лучший сайт для просмотра аниме</p>
        <h3 class="mb-4 editContent">Все об аниме</h3>
        <div class="ban-buttons">


        </div>
    </div>
{% endblock banner_info %}
{% block anime %}
<div class="left-ads-display col-lg-9">
    <div class="row">
        {% for anime in anime_list %}
        <div class="col-md-4 product-men">
            <div class="product-shoe-info editContent text-center mt-lg-4">
                <div class="men-thumb-item">
                    <img src="{{ anime.poster.url }}" class="img-fluid" alt="">
                </div>
                <div class="item-info-product">
                    <h4 class="">
                        <a href="{% url 'anime_detail' anime.url %}" class="editContent">{{ anime.title }}</a>
                    </h4>

                    <ul class="stars">
                        <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="fa fa-star-o" aria-hidden="true"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!--<div class="grid-img-right mt-4 text-right bg bg1" >
        <span class="money editContent" >Flat 50% Off</span>
        <a href="moviesingle.html" class="btn" >Now</a>
    </div>-->
</div>

{% endblock anime %}

